body{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px auto auto 100px;
	grid-template-areas: 
		"nav nav nav"
		"head head head"
		"main main side"
		"foot foot foot";
	color: black;

	nav{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		background-color: #6647ff;
		grid-area: nav;
		a{
			text-decoration: none;
			&:visited{
				color: black;
			}
			&:hover{
				color: white;
			}

		}
	}
	header{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #80ff80;
		grid-area: head;
	}
	main{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #ff8e80;
		grid-area: main;
		p{
			margin: 5%;
		}
	}
	aside{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #b580ff;
		grid-area: side;
	}
	footer{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #ff80e3;
		grid-area: foot;
	}
}